@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*{
    font-family: "Press Start 2P", cursive;
    box-sizing: border-box;

}
body{
    padding: 0%;
    margin: 0%;
   
    
    
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

header h1{
    font-size: 5vw;
}
.container{

   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu{
    height:20vh;  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.eraser,.colorPick,.size{
    font-size: 1vw;
    display: flex;
    align-items: center;
    margin:2vw;
    font-size: 1.5vh;
}
.colorLabel{
    margin: 1vw;
}
.matrix{
   
    padding: 0%;
    margin: 0%;
    height:60vh;
    width:60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    display: grid;
    height: 100%;
    width: 80%;
}
.cell{
    user-select: none;
    border:solid 0.01vw;
}
@media only screen and (max-width: 600px) {
    .container{
        height:100vh;
    }
    .matrix {
        width:70vw;
        height:70vw;
    }
    .menu{
        width: 70vw;
        height: 20vh;
        display: flex;
        flex:wrap;
        flex-direction: column;
        justify-content: space-around;
    }
    .menu button{
        min-width: 30vw;
        font-size: 1.5vh;

    }
    
  }
  
